name: FastBuild

on:
  push:
    branches: [ "main", "master" ]

jobs:
  fastbuild:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: gradle

      - name: Allow Gradle
        run: chmod +x ./gradlew

      - name: Build Debug (Fast)
        run: ./gradlew assembleDebug --no-daemon --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: TVApp-Fast-Debug
          path: app/build/outputs/apk/debug/app-debug.apk
